<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en" layout:decorate="~{fragments/layout}">
	<head>
		<title th:text="#{sell.mylist.title}"></title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<h2 th:text="#{sell.mylist.header}"></h2>
			
			<div th:replace="fragments/search"></div>
			<div class="table-responsive card-body" th:fragment="tableItems">
				<table id="tableItems" class="table table-hover">
					<thead>
					<tr>
						<th th:text="#{item.title}"></th>
						<th th:text="#{item.description}"></th>
						<th th:text="#{item.price}"></th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<tr class="tr-static-height" th:each="item : ${itemsList}">
						<td class="clickable-row" th:data-href="${'/item/details/' + item.id}" th:text="${item.title}"></td>
						<td class="clickable-row" th:data-href="${'/item/details/' + item.id}" th:text="${item.description}"></td>
						<td class="clickable-row" th:data-href="${'/item/details/' + item.id}" th:text="${item.price}"></td>
						<td><a id="delete" class="link" th:href="${'/item/delete/' + item.id}"><i class="material-icons">delete</i></a></td>
						<td>
							<a th:if="${item.highlighter != true && item.getBuyerUser() == null}" class="hightlighter link"
							   th:id="${'/item/highlighter/' + item.id}" data-toggle="modal" data-target="#modal" style="cursor: pointer">
								<i class="material-icons">offline_bolt</i>
							</a>
							<a th:if="${item.highlighter == true && item.getBuyerUser() == null}" class="hightlighter-disabled disabled">
								<i class="material-icons">offline_bolt</i>
							</a>
							<span th:if="${item.getBuyerUser() != null}" class="btn btn-secondary link disabled" style="padding: 0"
							      th:text="#{item.buyed}"></span>
						</td>
					</tr>
					</tbody>
				</table>
				<footer th:replace="fragments/pagination"></footer>
				<div th:if="${highlighter != null}" id="money-error" class="alert alert-danger" th:text="#{error.highlighter}"></div>
				
				<script th:inline="javascript">
				 /*<![CDATA[*/
                 $('.hightlighter').click(function () {
                     var id = $(this).attr('id');
                     $("#modalHighlighter").attr("action", id);
                 });

                 var rows = $("#tableItems tr").length - 1;
                 var value = (10 * 56) - (rows * 56);
                 document.getElementById('tableItems').style.marginBottom = value + ".px";
                 /*]]>*/
				</script>
				
				<!-- Modal -->
				<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.highlighter.title}"></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<span th:text="#{modal.highlighter.body}"></span>
							</div>
							<div class="modal-footer">
								<form id="modalHighlighter" class="form-horizontal" method="post" action="/">
									<button id="confirmButton" type="submit" class="btn btn-primary link"
									        th:text="#{modal.highlighter.button}"></button>
								</form>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</body>
</html>