<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
	<title>MyWallapop: Lista de usuarios</title>
</head>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"></nav>
<div class="container">
	<h2 th:text="#{user.list.header}">Usuarios</h2>
	
	
	<div class="bmd-form-group bmd-collapse-inline pull-xs-right">
		<input class="form-control" type="text" id="searchText" th:placeholder="#{placeholder.search}" th:value="${searchText}"/>
		<button class="btn bmd-btn-icon" id="search" for="searchText">
			<i class="material-icons">search</i>
	  	</button>
		<button class="btn bmd-btn-icon" id="clearButton" for="searchText">
			<i class="material-icons">clear</i>
		</button>
	</div>
	
	<script th:inline="javascript">
		 /*<![CDATA[*/
         $("#search").click(function () {
             var searchParams = new URLSearchParams(window.location.search);
             var value = $("#searchText").val();
             searchParams.set("searchText", value);
             window.location.search = searchParams.toString();
             $().load(url);
         });
         $('#clearButton').click(function () {
             var searchParams = new URLSearchParams(window.location.search);
             searchParams.delete("searchText");
             window.location.search = searchParams.toString();
         })
         /*]]>*/
	 </script>
	<form class="form-horizontal" method="post" action="/admin/remove">
		<div class="table-responsive" th:fragment="tableUsers" id="tableUsers">
			<table class="table table-hover table-static-height">
				<thead>
				<tr>
					<th class="check-box-table-cell"></th>
					<th th:text="#{user.email}">Email</th>
					<th th:text="#{user.name}">Nombre</th>
					<th th:text="#{user.lastName}">Apellidos</th>
				</tr>
				</thead>
				<tbody>
				<tr class="tr-static-height" th:each="user : ${usersList}">
					<td class="check-box-column">
						<input type="checkbox" th:name="idChecked" th:value="${user.getId()}"/>
					</td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.lastName}"></td>
				</tr>
				</tbody>
			</table>
			<footer th:replace="fragments/pagination"></footer>
			<button type="submit" id="delete" class="fab indigo"><i class="material-icons">delete</i></button>
		</div>
	</form>
</div>

<footer th:replace="fragments/footer"></footer>
</body>
</html>