<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
	<head>
		<title th:text="#{admin.list.header}"></title>
	</head>
	<body>
		<div class="container" layout:fragment="content">
			<h2 th:text="#{user.list.header}"></h2>
			
			<div class="bmd-form-group bmd-collapse-inline pull-xs-right">
				<label for="searchText"></label>
				<input class="form-control" type="text" id="searchText" th:placeholder="#{placeholder.search}" th:value="${searchText}"/>
				<button class="btn bmd-btn-icon" id="search">
					<i class="material-icons">search</i>
				</button>
				<button class="btn bmd-btn-icon" id="clearButton">
					<i class="material-icons">clear</i>
				</button>
			</div>
			
			<script th:inline="javascript">
				 /*<![CDATA[*/
                 $("#search").click(function () {
                     var searchParams = new URLSearchParams(window.location.search);
                     var value = $("#searchText").val();
                     searchParams.set("searchText", value);
                     window.location.search = searchParams.toString();
                     $().load(url);
                 });
                 $('#clearButton').click(function () {
                     var searchParams = new URLSearchParams(window.location.search);
                     searchParams.delete("searchText");
                     window.location.search = searchParams.toString();
                 })
                 /*]]>*/
			 </script>
			<form class="form-horizontal" method="post" action="/admin/remove">
				<div class="table-responsive" th:fragment="tableUsers">
					<table id="tableUsers" class="table table-hover">
						<thead>
						<tr>
							<th class="check-box-table-cell"></th>
							<th th:text="#{user.email}"></th>
							<th th:text="#{user.name}"></th>
							<th th:text="#{user.lastName}"></th>
							<th></th>
						</tr>
						</thead>
						<tbody>
						<tr class="tr-static-height" th:each="user : ${usersList}">
							<td class="check-box-column">
								<label>
									<input type="checkbox" th:name="idChecked" th:value="${user.getId()}"/>
								</label>
							</td>
							<td class="clickable-row" th:text="${user.email}" th:data-href="${'/user/details/' + user.id}"></td>
							<td class="clickable-row" th:text="${user.name}" th:data-href="${'/user/details/' + user.id}"></td>
							<td class="clickable-row" th:text="${user.lastName}" th:data-href="${'/user/details/' + user.id}"></td>
						</tr>
						</tbody>
					</table>
					<footer th:replace="fragments/pagination"></footer>
					<script th:inline="javascript">
					 /*<![CDATA[*/
                     var rows = $('#tableUsers tr').length - 1;
                     var value = 460 - (rows * 46) + 15;
                     document.getElementById('tableUsers').style.marginBottom = value + ".px";
                     /*]]>*/
					</script>
					<button type="submit" id="delete" class="btn btn-primary bmd-btn-fab fab indigo"><i class="material-icons">delete</i></button>
				</div>
			</form>
		</div>
	</body>
</html>