/target/
!.mvn/wrapper/maven-wrapper.jar

# Package Files #
*.jar
*.war
*.ear

### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
**/.project
**/.classpath

### IntelliJ IDEA ###
*.iws
*.ipr
**/*.iml
**/.idea
**/.gradle

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
out/
/data/

application.log


