<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<body>
		<th:block th:fragment="head">
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}"/>

			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
			
			<!-- Material Design for Bootstrap fonts and icons -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
			<!-- Material Design for Bootstrap CSS -->
			<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
			      integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
			
			<link rel="stylesheet" th:href="@{/css/style.css}">
			
			<script th:src="@{/script/languages.js}"></script>
			<script th:src="@{/script/paramget.js}"></script>
			<script th:src="@{/script/tableClick.js}"></script>
			
			<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha384-fJU6sGmyn07b+uD1nMk7/iSb4yvaowcueiQhfVgQuD98rfva8mcr1eSvjchfpMrH"
			        crossorigin="anonymous"></script>
			<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
			        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
			<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
			        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
			<!--suppress JSUnresolvedFunction -->
			<script>$(document).ready(function () {
                $('body').bootstrapMaterialDesign();
            });
			</script>
		</th:block>
	</body>
</html>
