#messages {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    height: 575px;
    overflow-y: auto;
}

.message-data {
    margin-bottom: 15px;
}

.message-data-name {
    font-weight: bold;
}

.message-data-time {
    color: #92959E;
    padding-left: 6px;
}

.message {
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    list-style: none;
}

.message:after {
    bottom: 100%;
    left: 7%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #86BB71;
    margin-left: -10px;
}

.my-message {
    background: #86BB71;
}

.other-message {
    background: #6C86D2;
    text-align: right;
}

.other-message:after {
    border-bottom-color: #6C86D2;
    left: 93%;
}

.my-message-data {
    text-align: left;
}

.other-message-data {
    text-align: right;
}

.chat-message {
    padding: 30px;
}

#messageInput {
    width: 93%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-right: 5px;
    border-radius: 5px;
    resize: none;
}

#messageInput:hover {
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

#messageInput:focus {
    border-color: #4d90fe;
}