<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
<head>
	<title th:text="#{nav.home}"></title>
</head>
<body>
	<!--/*@thymesVar id="currentUser" type="com.uniovi.entities.User"*/-->
	<div class="container" layout:fragment="content">
		<div class="row text-center">
			<div id="personal-area" class="col-sm-5 mb-3">
				<div class="card" style="height: 100%">
					<div class="card-body text-center">
						<img class="card-img-top rounded-circle z-depth-0" style="max-width: 200px" th:src="#{url.defaut.ico}" alt="Card image cap"
						     src="">
						<h2 class="card-title card-title-pro" th:text="#{welcome.message}"></h2>
						<h3 th:text="${currentUser.getFullName()}"></h3>
						<a th:href="${'/user/details/' + currentUser.getId()}" class="btn btn-primary link" th:text="#{home.user.personal}"></a>
					</div>
				</div>
			</div>
			
			<div id="highlighter_table" class="col-sm-7 mb-3" sec:authorize="hasRole('ROLE_STANDARD')">
				<div class="card" style="width: 100%; height: 100%" th:if="${highlighterItems.size() > 0}">
					<h2 class="card-title card-title-pro" th:text="#{home.highlighter}"></h2>
					<table id="tableItems" class="table table-hover">
						<thead>
						<tr>
							<th th:text="#{item.title}"></th>
							<th th:text="#{item.description}"></th>
							<th th:text="#{item.price}"></th>
						</tr>
						</thead>
						<tbody>
						<tr class="tr-static-height" th:each="item : ${highlighterItems}">
							<td class="clickable-row" th:data-href="${'/item/details/' + item.id}" th:text="${item.title}"></td>
							<td class="clickable-row" th:data-href="${'/item/details/' + item.id}" th:text="${item.description}"></td>
							<td class="clickable-row" th:data-href="${'/item/details/' + item.id}" th:text="${item.price}"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="mb-3 text-center">
			<div class="col-sm-12" sec:authorize="hasRole('ROLE_STANDARD')">
				<div class="card" style="height: 100%">
					<h2 class="card-title card-title-pro" th:text="#{nav.sales.mySales}"></h2>
					<div th:replace="item/mylist :: tableItems" class="card block"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>