<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{fragments/layout}">
	<head>
		<title>Inicio</title>
	</head>
	<body>
	<!--/*@thymesVar id="currentUser" type="com.uniovi.entities.User"*/-->
		<div class="container" layout:fragment="content" style="text-align: center">
			<h2 th:text="#{welcome.message}"></h2>
			<div sec:authorize="!isAuthenticated()" class="card block card-index jumbotron">
				<div class="card-body" style="text-align: center">
					<h4>¿Estás ya registrado?</h4>
					<a href="/login" class="btn btn-primary">Login</a>
				</div>
			</div>
			<div sec:authorize="!isAuthenticated()" class="card block card-index jumbotron">
				<div class="card-body" style="text-align: center">
					<h4>¿Eres nuevo?</h4>
					<a href="/signup" class="btn btn-primary">Registrarse</a>
				</div>
			</div>
			<div sec:authorize="isAuthenticated()" class="card jumbotron">
				<div class="card-body" style="text-align: center">
					<h2>Hola, ¿qué andas buscando?</h2>
					<hr class="my-4">
					<a href="/home" class="btn btn-primary">Página de inicio</a>
					<a th:href="${'/user/details/' + currentUser.getId()}" class="btn btn-primary">Detalles de mi cuenta</a>
				</div>
			</div>
		</div>
	</body>
</html>