<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
	<title>MyWallapop: Registrarse</title>
</head>
<body>
    <!-- Barra de Navegación superior -->
    <nav th:replace="fragments/nav"></nav>
    <div class="container">
        <h2 th:text="#{signup.header}">Registráte como usuario</h2>
        <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
            <div class="form-group">
                <label class="bmd-label-floating" for="username">Nombre de usuario:</label>
                <input type="text" id="username" class="form-control" name="username" aria-describedby="basic-addon1"/>
                <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
            </div>
            <div class="form-group">
                <label class="bmd-label-floating" for="name" th:text="#{user.name}">Nombre:</label>
                <input type="text" id="name" class="form-control" name="name" aria-describedby="basic-addon1"/>
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="form-group">
                <label class="bmd-label-floating" for="lastName" th:text="#{user.lastName}">Apellidos:</label>
                <input type="text" id="lastName" class="form-control" name="lastName" aria-describedby="basic-addon1"/>
                <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>
            <div class="form-group">
                <label class="bmd-label-floating" for="password" th:text="#{user.password}">Password:</label>
                <input type="password" id="password" class="form-control" name="password" aria-describedby="basic-addon1"/>
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="form-group">
                <label class="bmd-label-floating" for="passwordConfirm" th:text="#{signup.repitPassword}">Repita el Password:</label>
                <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" aria-describedby="basic-addon1"/>
                <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-success waves-effects" th:text="#{util.send}">Enviar</button>
            </div>
        </form>
    </div>
    <footer th:replace="fragments/footer"></footer>
</body>
</html>