<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">
    <head>
        <title th:text="#{nav.signup}"></title>
    </head>
    <body>
        <div class="container" layout:fragment="content">
            <h2 th:text="#{signup.header}"></h2>
            <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
                <div class="form-group">
                    <label class="bmd-label-floating" for="email" th:text="#{user.email}"></label>
                    <input type="text" id="email" class="form-control" name="email" aria-describedby="basic-addon1" required/>
                    <span id="email-error" class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="name" th:text="#{user.name}"></label>
                    <input type="text" id="name" class="form-control" name="name" aria-describedby="basic-addon1" required/>
                    <span id="name-error" class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="lastName" th:text="#{user.lastName}"></label>
                    <input type="text" id="lastName" class="form-control" name="lastName" aria-describedby="basic-addon1" required/>
                    <span id="lastName-error" class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="password" th:text="#{user.password}"></label>
                    <input type="password" id="password" class="form-control" name="password" aria-describedby="basic-addon1" required/>
                    <span id="password-error" class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <label class="bmd-label-floating" for="passwordConfirm" th:text="#{signup.repitPassword}"></label>
                    <input type="password" id="passwordConfirm" class="form-control" name="passwordConfirm" aria-describedby="basic-addon1" required/>
                    <span id="paswordConfirm-error" class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}"
                          th:errors="*{passwordConfirm}"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-outline-success waves-effects" th:text="#{util.send}"></button>
                </div>
            </form>
        </div>
    </body>
</html>